name: forgejo-for-library-test
services:
  app:
    image: codeberg.org/forgejo/forgejo:13.0.3
    restart: unless-stopped
    healthcheck:
      test: curl -f -s http://localhost:3000 || exit 1
      start_period: 60s
      start_interval: 3s
      timeout: 5s
      interval: 300s
      retries: 3
    networks:
      default:
        aliases:
          - forgejo-app-container
    ports:
      - "9970:3000"
      - "9972:22"
    volumes:
      - type: bind
        source: ./assets/app
        target: /assets
        read_only: true
        bind:
          create_host_path: false
    environment:
      - TZ=JST-9
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__log__LEVEL=Info
      - FORGEJO__database__DB_TYPE=sqlite3
      - FORGEJO__cron_0x2E_update_checker__ENABLED=false
      - FORGEJO__server__SSH_PORT=9972
      - FORGEJO__server__ROOT_URL=http://localhost:9970
      - FORGEJO__security__DISABLE_GIT_HOOKS=false
      - FORGEJO__webhook__ALLOWED_HOST_LIST=*
      - FORGEJO__migrations__ALLOW_LOCALNETWORKS=true
      - FORGEJO__repository__ENABLE_FLAGS=true
      - FORGEJO__repository__SETTABLE_FLAGS=flag1,flag2,flag3
      #- FORGEJO__repository_0x2E_signing__FORMAT=ssh
      #- FORGEJO__repository_0x2E_signing__SIGNING_KEY=/assets/key/id_ed25519.pub
      #- FORGEJO__repository_0x2E_signing__SIGNING_NAME=forgejo-admin
      #- FORGEJO__repository_0x2E_signing__SIGNING_EMAIL=forgejo-admin@example.com
      #- FORGEJO__repository_0x2E_signing__INITIAL_COMMIT=never
      - FORGEJO__federation__ENABLED=true
      - FORGEJO__quota__ENABLED=true
      - FORGEJO__quota_0x2E_default__TOTAL=8G
    extra_hosts:
      - testhost-gateway:host-gateway

  docker:
    image: docker:dind
    restart: 'unless-stopped'
    privileged: 'true'
    networks:
      default:
        aliases:
          - forgejo-docker-container
    command: ['dockerd', '-H', 'tcp://0.0.0.0:2375', '--tls=false']
    healthcheck:
      test: docker -H tcp://localhost:2375 info || exit 1
      start_period: 60s
      start_interval: 3s
      timeout: 5s
      interval: 300s
      retries: 3

  runner:
    image: code.forgejo.org/forgejo/runner:11
    restart: unless-stopped
    depends_on:
      docker:
        condition: service_healthy
    networks:
      default:
        aliases:
          - forgejo-runner-container
    user: 1000:1000
    command: '/bin/sh /assets/scripts/startup.sh --config /assets/configs/config.yml'
    volumes:
      - type: bind
        source: ./assets/runner
        target: /assets
        read_only: true
        bind:
          create_host_path: false
    environment:
      DOCKER_HOST: tcp://forgejo-docker-container:2375
